body {
    background: white;
}

td{
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

h1{
    text-align: center;
}

.form{
    padding-top: 10px;
    text-align:center;
}
.navbar {
    background-image: linear-gradient(to top right, #febd01, #ffecb7);
    max-width: 100%;
    max-height: 70px;
    background-color: #ffe347;
    padding-top: 20px;
    color: black;
    text-align: center;
    font-style: oblique;
    font-size: x-large;
    font-weight: bolder;
    padding-top: 15px;
    font-family: 'Francois One', sans-serif;
}

.inputBox{
    width:25%;
    padding:5px;
    margin:5px;
}

.warning{
    text-align:center;
    color :red;
    font-size: medium;
    font-weight: bolder;
}

a:link {
    font-size: small;
    font-weight: bold;
    margin: 15px;
}

  table.center {
    margin-left:auto;
    margin-right:auto;
    border: 1px;
  }

  .centerButton{
      display: block;
    max-width: 300px;
      margin:auto;
  }

  td{
      display: block;
      margin:auto;
      max-width: 500px;
  }