{% extends "base.html" %} {% block content %}
    <h1>Add Lab Section to Course</h1>
    <form method="post" class="form">
        {% csrf_token %}
        <table class="center">
            <tr>
                <td>
                    <label for="labNumber">Lab Number: </label>
                    <input type="text" name="labNumber" id="labNumber" class="inputBox"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="courseToAdd">Course to Add: </label>
                    <input type="text" name="courseToAdd" id="courseToAdd" class="inputBox"/>
                </td>
            </tr>
        </table>
        <input type="submit" value="Create"/>
    </form>
    <div class="response"> {{ addlabsectiontocourseresponse }} </div>
    <div id="out">{{ out | safe }}</div>
{% endblock content %}