{% extends "base.html" %} {% block content %}
    <h1>Add Student To Lab</h1>
    <form method="post" class="form">
        {% csrf_token %}
        <table class = "center">
            <tr>
                <td>
                    <label for="labNumber">Lab Number: </label>
                    <input type="text" name="labNumber" id="labNumber" class="inputBox"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="studentToAdd">Student to Add: </label>
                    <input type="text" name="studentToAdd" id="studentToAdd" class="inputBox"/>
                </td>
            </tr>
        </table>
        <input type="submit" value="Create"/>
    </form>
    <div class="response"> {{ addstudenttolabresponse }} </div>
    <div id="out">{{ out | safe }}</div>
{% endblock content %}