{% extends "base.html" %} {% block content %}
    <h1>Add TA To Course</h1>
    <form method="post" class = "form">
	    {%csrf_token%}
        <table border = "1" class = "center">
            <tr>
            <td><label for="courseid">Course Name: </label>
	         <input type="text" name="courseid" id="courseid" class="inputBox"/></td>
            </tr>
            <tr>
            <td><label for ="tatoadd">TA to add: </label>
                <input type="text" name="tatoadd" id="tatoadd" class="inputBox"></td>
            </tr>
        </table>
    <input type="submit" value = "Create"/>
    </form>
    <div class = "warning" > {{ addtatocourseresponse }} </div>
    <div id = "out">{{ out | safe }}</div>
{% endblock content %}