{% extends "base.html" %} {% block content %}
    <h1>Create Course</h1>
    <form method="post" class = "form">
	    {%csrf_token%}
        <table class = "center">
            <tr>
                <td>
                     <label for="instructor">Class Instructor: </label>
                     <input type="text" name="instructor" id="instructor" class="inputBox"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for ="coursename">CourseName: </label>
                    <input type="text" name="coursename" id="coursename" class="inputBox"/>
                </td>
            </tr>
            <tr>
                <td>
                     <label for="starttime">Start Time: </label>
        <input type="time" name="starttime" id="starttime" class="inputBox"/>
                </td>
            </tr>
            <tr>
                <td>
                     <label for="endtime">End Time: </label>
        <input type="time" name="endtime" id="endtime" class="inputBox"/>
                </td>
            </tr>
        </table>
        <input type="submit" value = "Create"/><br>
    </form>
    <div class = "warning" > {{ createcoursereponse }} </div>
    <div id = "out">{{ out | safe }}</div>
{% endblock content %}