{% extends "base.html" %} {% block content %}
    <h1>Sign up here!</h1>
    <form method="post" class = "form">
	    {%csrf_token%}
        <label for="username">Username: </label>
	    <input type="text" name="username" id="username" class="inputBox"/><br>
        <label for ="password">Password: </label>
        <input type="password" name="password" id="password" class="inputBox"/><br>
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" class="inputBox"/><br>
        <label for="supervisorbox"><input type="checkbox" name="supervisorbox" value="supervisorbox" id="supervisorbox">Supervisor</label>
        <label for="adminbox"><input type="checkbox" name="adminbox" value="adminbox" id="adminbox">Administrator</label>
        <label for="instructorbox"><input type="checkbox" name="instructorbox" value="instructorbox" id="instructorbox">Instructor</label>
        <label for="tabox"><input type="checkbox" name="tabox" value="tabox" id="tabox">Teaching Assistant</label>
        <label for="studentbox"><input type="checkbox" name="studentbox" value="studentbox" id="studentbox">Student</label><br>
        <label for="address">Address: </label>
        <input type="text" name="address" id="address" class="inputBox"/><br>
        <label for="phonenumber">Phone Number: </label>
        <input type="text" name="phonenumber" id="phonenumber" class="inputBox"/><br>
        <input type="submit" value = "Create"/><br>
    </form>
    <div class = "warning" > {{ createUserResponse }} </div>
    <div id = "out">{{ out | safe }}</div>
{% endblock content %}