{% extends "base.html" %} {% block content %}
    <h1>Delete Course</h1>
    <form method="post" class = "form">
	    {%csrf_token%}
        <table class = "center">
            <tr>
                <td>
                    <label for ="text">Course Name to Delete: </label>
                    <input type="text" name="coursename" id="coursename" class="inputBox"/><br>
                </td>
            </tr>
        </table>

     <input type="submit" value = "Delete"/><br>
    </form>
    <div class = "response" > {{ deletecourseresponse }} </div>
    <div id = "out">{{ out | safe }}</div>
{% endblock content %}