{% extends "base.html" %} {% block content %}
    <h1>Update your personal info</h1>
    <h2>Leave blank to keep old info</h2>
    <form method="post" class = "form">
	    {%csrf_token%}
        <label for ="password">New Password: </label>
        <input type="password" name="password" id="password" class="inputBox"/>
        <br>
        <label for="email">New Email: </label>
        <input type="email" name="email" id="email" class="inputBox"/>
        <br>
        <label for="permissions">New Permissions: </label>
        <input type="text" name="permissions" id="permissions" class="inputBox"/>
        <br>
        <label for="address">New Address: </label>
        <input type="text" name="address" id="address" class="inputBox"/>
        <br>
        <label for="phonenumber">New Phone Number: </label>
        <input type="text" name="phonenumber" id="phonenumber" class="inputBox"/>
        <br>
        <input type="submit" value = "Update"/><br>
    </form>
    <div class = "warning" > {{ editUserSelfResponse }} </div>
    <div id = "out">{{ out | safe }}</div>
{% endblock content %}