{% extends "base.html" %} {% block content %}
    <h1>Update Your Personal Information</h1>
    <h2>Leave Blank to Not Change Information</h2>
    <form method="post" class = "form">
	    {%csrf_token%}
        <table class = "center">
            <tr>
                <td>
                    <label for ="password">New Password: </label>
                    <input type="password" name="password" id="password" class="inputBox"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="email">New Email: </label>
                    <input type="email" name="email" id="email" class="inputBox"/>
                </td>
            </tr>
             <tr>
                <td>
                      <label for="permissions">New Permissions: </label>
                       <input type="text" name="permissions" id="permissions" class="inputBox"/>
                </td>
            </tr>
             <tr>
                <td>
                    <label for="address">New Address: </label>
                    <input type="text" name="address" id="address" class="inputBox"/>
                </td>
            </tr>
             <tr>
                <td>
                    <label for="phonenumber">New Phone Number: </label>
                    <input type="text" name="phonenumber" id="phonenumber" class="inputBox"/>
                </td>
            </tr>
        </table>
        <input type="submit" value = "Update"/><br>
    </form>
    <div class = "warning" > {{ editUserSelfResponse }} </div>
    <div id = "out">{{ out | safe }}</div>
{% endblock content %}