{% extends "base.html" %}  {% block content %}

    <h1>Contact Info</h1>
    <form method="POST" class="form">

        <table class="center">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
            <tr>
                {% for u in all_users %}
                    <td>{{ u.user_name }}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.phone_number }}</td>
                    </tr>
                {% endfor %}
        </table>
    </form>
    <div id="out">{{ out | safe }}</div>
{% endblock content %}