{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>xXTreme_ProgramZXx - Scheduler</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<body>
<div class = "navbar">
    xXTreme_ProgramZXx
     <a href="#" onClick="document.getElementById('logoutform').submit()"><button type="button">Logout</button></a>
<form id="logoutform" method="POST" action="{% url 'logout' %}">
    <div class = "links">
    <a href=={% url 'loginpage' %}>Login</a>
    <a href={% url 'createuser' %}>Create User </a>
    <a href = {% url 'createcourse' %}>Create Course</a>
    <a href = {% url 'deletecourse' %}>Delete Course</a>
    <a href = {% url 'addusertocourse'%}>Add User to Course </a>
    <a href = {% url 'edituseradmin' %}> Edit User Info </a>
    <a href = {% url 'deleteuser' %}> Delete User</a>
    <a href = {% url 'addtatocourse' %}>Add TA to Course </a>
        <a href= {% url 'edituserself' %}>Change contact info </a>
    <a href = {% url 'viewcourseinfo' %}> View Course Info</a>
    </div>
{% csrf_token %}
<input type="hidden">
</form>
</div>
    {% block content %}{% endblock content %}
</body>
</html>