{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>xXTreme_ProgramZXx - Scheduler</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light bg-dark">
    <a class="navbar-brand" href="#"><h4>xXTreme_ProgramZXx</h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <form id="logoutform" class="collase" method="POST" action="{% url 'logout' %}">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" href={% url 'loginpage' %}>Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href={% url 'createuser' %}>Create User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href= {% url 'createcourse' %}>Create Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href= {% url 'createlab' %}>Create Lab</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href= {% url 'addusertocourse' %}>Add Student to Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href= {% url 'assigninstructortocourse' %}>Add Instructor to
                        Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href= {% url 'addtatocourse' %}>Add TA to Course</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link text-dark" href= {% url 'addstudenttolab' %}>Add Student to Lab</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href= {% url 'assigntatolab' %}>Add TA to Lab</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href= {% url 'addlabsectiontocourse' %}>Add Lab Section to Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href= {% url 'deleteuser' %}>Delete User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href= {% url 'deletecourse' %}>Delete Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href= {% url 'deletelab' %}>Delete Lab</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href= {% url 'edituseradmin' %}>Edit User Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href= {% url 'edituserself' %}>Change Contact Information</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link text-dark" href= {% url 'viewcontactinfo' %}>View Contact Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href= {% url 'viewcourseinfo' %}>View Course Information</a>
                </li>
            </ul>
            <a href="#" onClick="document.getElementById('logoutform').submit()">
                <button class="btn btn-dark" type="button">Logout</button>
            </a>
            {% csrf_token %}
            <input type="hidden">
        </div>

    </form>
</nav>

{% block content %}{% endblock content %}
</body>
</html>